body {
  display: flex;
  flex-direction: column;
}

.name {
  color: red;
}

.my-details {
  border: 10px solid black;
}

.detail:hover {
  background-color: yellow;
}

img {
  width: 500px;
  height: 500px;
}
.countdown{
    border: 10px dashed purple ;
    margin: 10px;
    padding: 10px;
}
